body{
    background-color: #161717;
    color: white;
}

.container{
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 450px; 
    background-color: rgba(22, 23, 23, 0.5);
    border: 2px solid #212121;
    padding: 30px 50px;
    border-radius: 10px;
}

.top-completed{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-completed a{
    position: absolute;
    right: 40%;
}

.name-completed{
    display: flex;
    gap: 10px;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label span{
    font-weight: 700;
    color: white;
}
label input{
    width: 90%;
    background-color: #212121;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s;
}

.perfil-btn{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: auto;
}
.submit-btn-editar{
    background-color: #822225;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14pt;
    cursor: pointer;
}
.submit-btn-editar:hover{
    opacity: 0.75;
}