<head>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<div class="menu-btn">
    <i class="fas fa-bars"></i>
</div>
<div class="container-UFPS-deportivo">
    <nav class="nav-main">
        <a href="/home" class="nav-img">
            <img src="/img/LogoDeportivo.png" alt="Logo del club deportivo UFPS" class="nav-logo" />
        </a>
        <ul class="nav-menu">
            <li>
                <a href="/home"><span>Home</span></a>
            </li>
            <li>
                <a href="/noticias"><span>Noticias</span></a>
            </li>
            <li>
                <a href="/calendario"><span>Calendario</span></a>
            </li>
            <li>
                <a href=""><span>Resultados</span></a>
            </li>
        </ul>

        {{#if user}}
        <ul class="nav-seccion">
            <li>
                <a href="/perfil">
                    <button type="submit" class="submit-btn-nav">Perfil</button>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <button type="submit" class="submit-btn-nav">Cerrar sesión</button>
                </a>
            </li>
        </ul>
        {{else}}
        <ul class="nav-seccion">
            <li>
                <a href="/signIn">
                    <button type="submit" class="submit-btn-nav">Iniciar</button>
                </a>
            </li>
            <li>
                <a href="/signUp">
                    <button type="submit" class="submit-btn-nav">Registrar</button>
                </a>
            </li>
        </ul>
        {{/if}}
    </nav>
</div>