<link rel="stylesheet" href="../css/registro.css">
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.name}}</h3>
                    <h4>{{user.email}}</h4>
                    <a href="/actualizarP" class="btn btn-primary m-4">
                        Actualizar Perfil
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>