    <header class="new-week">
        <h2 class="new-week-title">Ceremonia de apertura del Mundial Qatar 2022</h2>
        <p class="new-week-text">
            Una deslumbrante ceremonia de apertura dentro del Estadio Al Bait,
            invita al mundo a unirse en Catar con motivo del comienzo de la
            Copa Mundial de la FIFA™
        </p>
        <a href="#" class="btn-new-week">LEER MAS<i class="fas fa-angle-double-right"></i></a>
    </header>
    <div class="division-hr">
        <h3>ULTIMAS NOTICIAS</h3>
        <hr>
    </div>
    <div class="new-card">
        <div>
            <img src="../img/Clasificacion-ASCUN.jpg" alt="" />
            <h3>Clasifican 171 deportistas a los juegos ASCUN</h3>
            <p>la Universidad Francisco de Paula Santander cumplió una destacada participación en los juegos zonales
                universitarios ASCUN que se realizaron del 19 al 21 de mayo en el campus de la institución</p>
            <a href="#" class="btn-new-cards">Leer más<i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
            <img src="../img/sede-ASCUN.jpg" alt="" />
            <h3>Fiesta deportiva universitaria ASCUN</h3>
            <p>Con alegría y expectativa se prepara la Universidad Francisco de Paula Santander para ser sede de los
                Juegos Zonales Universitarios 2022</p>
            <a href="#" class="btn-new-cards">Leer más<i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
            <img src="../img/inscripciones.jpg" alt="" />
            <h3>Inscripciones abiertas</h3>
            <p>La División de Cultura, Recreación y Deporte de la Universidad llevará acabo el proceso de inscripciones
                para conformar los grupos representativos culturales y deportes</p>
            <a href="#" class="btn-new-cards">Leer más<i class="fas fa-angle-double-right"></i></a>
        </div>
        <div>
            <img src="../img/olimpiadas-deportivas.jpg" alt="" />
            <h3>Iniciaron las XXIII Olimpiadas</h3>
            <p>Con un desfile de los equipos participantes alrededor de la institución, se dio inicio a la XXIII versión
                de las Olimpiadas Deportivas UFPS</p>
            <a href="#" class="btn-new-cards">Leer más<i class="fas fa-angle-double-right"></i></a>
        </div>
    </div>
    