    <link rel="stylesheet" href="../css/auth.css">
<body>
    <div class="card">
    <div class="container">
        <div class="top">
            <h3>Iniciar Sesi칩n</h3>
        </div>
        <form action="/signIn" method="post">
            <label for="email">
                <span>Email</span>
                <input type="email" name="email" >
            </label>
            <label for="password">
                <span>Contrase침a</span>
                <input type="password" name="password" placeholder="6+ characters" >
            </label>
            <button type="submit" class="submit-btn">Iniciar sesi칩n</button>
            <div class="separator">
                <hr>
                <span>O</span>
                <hr>
            </div>
            <div class="boton">
                <button class="google-btn">
                    <picture>
                        <img src="../img/logoGoogle.png" alt="logo google">
                    </picture>
                    <span>Iniciar sesi칩n con Google</span>
                </button>
                </button>
            </div>
        </form>
    </div>
</div>
</body>