    <link rel="stylesheet" href="../css/auth.css">
<body>
    <div class="container">
        <div class="top">
            <h3>Registrarte</h3>
        </div>
        <form action="/signUp" method="post">
            <div class="section-inputs">
                <label for="name">
                    <span>Nombre</span>
                    <input type="text" name="name" required autofocus>
                </label><!--  for referencia al id del input-->
                <label for="lastName">
                    <span>Apellido</span>
                    <input type="text" name="lastName" required>
                </label>
            </div>
            <label for="email">
                <span>Email</span>
                <input type="email" name="email" required>
            </label>
            <label for="password">
                <span>Contraseña</span>
                <input type="password" name="password" placeholder="6+ characters" required>
            </label>
            <button type="submit" class="submit-btn">Crear cuenta</button>
            <div class="separator">
                <hr>
                <span>O</span>
                <hr>
            </div>
            <div class="boton">
                <button class="google-btn">
                    <picture>
                        <img src="../img/logoGoogle.png" alt="logo google">
                    </picture>
                    <span>Registrarse con Google</span>
                </button>
                </button>
            </div>
        </form>
    </div>
</body>